.essrange {

    height: 1rem;
    box-shadow: none;
    margin: 0;
    position: relative;
    background: transparent;

    &__min {
        position: relative;
        &::after {
            content: attr(display);
            position: absolute;
            top: 1rem;
            right: -1rem;
            font-size: .8rem;
        }
    }

    &__bar {
        $barColor: rgba(0,0,0,.2);
        flex: 1 0 auto;
        border-left: 2px solid $barColor;
        border-right: 2px solid $barColor;
        position: relative;

        &:after {
            content: '';
            height: 2px;
            position: absolute;
            width: 100%;
            background-color: $barColor;
            left: 0;
            top: 50%;
        }
    }

    &__val {
        position: absolute;
        top: 0;
        width: 1rem;
        height: 1rem;
        border: 2px solid rgba(0,0,0,.2);
        border-radius: 50%;
        background-color: white;

        &.show-label {
            &::after {
                content: attr(display);
                position: absolute;
                top: 1rem;
                left: -50%;
                font-size: .8rem;
            }
        }
    }

    &__max {
        position: relative;
        &::after {
            content: attr(display);
            position: absolute;
            top: 1rem;
            left: -.7rem;
            font-size: .8rem;
        }
    }
}
