.youtube {
    color: #666;
    .perfect__header, .perfect__answer--copy {
        color: #000;
        font-weight: 400;
    }
    .control {
        .progress-value {
            background-color: #e3e3e3;
        }
    }
    .exposed {
        .progress-value {
            background-color: #e52d27;
        }
    }

    .green {
        color: green;

        .essrange {
            &__val {
                border: 2px solid green;
            }
        }
    }
    .orange {
        color: orange;

        .essrange {
            &__val {
                border: 2px solid orange;
            }
        }
    }
    .red {
        color: #e52d27;
        .essrange {
            &__val {
                border: 2px solid #e52d27;
            }
        }
    }
}

